<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="id1" class="Author">
		
		<property name="firstName" value="srinu"></property>
		<property name="lastName" value="Katta"></property>
		<property name="country" value="India"></property>
		<property name="dateOfBirth" value="20/06/200"></property>
	</bean>

</beans> 