<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="id" class="Organization" >
		<property name="companeyName" value="Apple"></property>
		<property name="Address" value="USA"></property>
	</bean>
	<bean id="id1" class="Employee">
		
		<property name="name" value="srinu"></property>
		<property name="salary" value="850000"></property>
		
	</bean>
	
	</beans>