<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="id1" class="MyImplClass"></bean>
<bean id="d2" class="MyWelcomeAdvice" >
	
</bean>
<bean id="id3" class="org.springframework.aop.framework.ProxyFactoryBean">
	
	<property name="proxyInterfaces" value="MyInterFace" />
		<property name="interceptorNames" >
                  <list>
                       <value>id2</value>
                      
                   </list>
       </property>
        <property name="target">
               <ref bean="id1"/>       
       </property> 
	
</bean>
</beans>