<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="id" class="MyImplClass"></bean>
<bean id="id1" class="MyWelcomeAdvice"></bean>
<bean id="id2" class="MyAfterAdvice"></bean>
<bean id="id3" class="org.springframework.aop.framework.ProxyFactoryBean">
   <property name="proxyInterfaces" value="MyInterFace" />
      <property name="interceptorNames" >
                  <list>
                       <value>id1</value>
                       <value>id2</value>
                   </list>
       </property>
       <property name="target">
               <ref bean="id"/>       
       </property>     

 </bean>

</beans>