<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="id1" class="Product">
		<constructor-arg name="pname" value="apple" />
		<constructor-arg name="paddress" value="USA" />
		<constructor-arg name="pnumber" value="16pro" />
	</bean>

</beans>
