<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
       
  <bean id="id1" class="WelcomeBean">
 
    <property name="studentsData" >
      <list>
         <value>java4s</value>
         <value>sun</value>
         <value>oracle</value>
         <value>java4s</value>
      </list>
     </property>
  </bean>  
</beans>